#main {
    background: url(./html_images/background.jpg);
    background-size: cover;
}
#header {
    align-items: center;
    margin-top: 100px;
    display: flex;
}
#title {
    width: 85%;
}
    #box1 {
        background: url(./html_images/11111.jpg) no-repeat;
        background-size: 785px 580px;
        opacity: 0.5;
        width: 785px;
        height: 556px;
        border-radius: 52px;
        border: solid rgba(255, 255, 255);
        padding-top: 20px;
    }
#member {
    border: solid;
    float: right;
}
    #box2 {
        /* float: right; */
        align-items: flex-end;
        background-color: white;
        width: 400px;
        height: 170px;
        border-radius: 30px;
        border: solid rgba(255, 255, 255, 0.500);
        opacity: 0.5;
    }
#article {
    position: absolute;
    right: 200px;
    bottom: 150px;
}
    .text3 {
        color:  black;
        font-weight: bold;
        font-size: 48px;
        text-align: center;
    }
    .reverse {
        transform:rotate(90deg);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
