<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for(filename='service.css') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Service</title>
    </head>

    <body id="main">
        <div id="header">
            <div id="title" align="center">
                <div id="box1">
                </div>
            </div>
        </div>
    </body>
</html>
<footer>
    <div id="article">
        <div id="box2">
            <p class="text3">처음으로</p>
        </div>
    </div>
</footer>
</html>