<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        결과
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <link href="../static/css/sheep.css" rel="stylesheet"/>
    <body id="main">
        <div id="header">
            <div id="title" align="center">
                </div>
            </div>
        </div>
        <span>
            <img src="../static/img/result_Sheep.jpg">
            <p id="font_12" style="color: white; font-size: 100px; margin-left: 30%; line-height: 10px; margin-top: 100px; font-weight: 900;"><strong>양</strong></p>
            <p id="font_chr" style="color: white; font-size: 50px; margin-left: 30%;line-height: 10px; font-weight: 100;">#재능이 있으나 현실적 #도전 필요</p>
            <div style="border:4px solid white ;margin-left: 30%;">
            <p id="font_info" style="color: white; font-size: 30px; margin-left: 5%;"><strong>양 상을 가진 사람은 대개 온순하다. 양이 마치 순한 동물의 상징처럼 되어 그러한 말이 통용된다. 순한 사람을 일러 법 없이도 살 사람이라 하는데 양상을 가진 자를 일러 하는 말이기도 하다. 하지만 양은 높은 곳에 오르기를 좋아하고, 맹랑하며 잘 놀라기도 잘 하는 편이다. 가히 신선의 풍모를 지니고 고상한 기품이 있는 듯하지만 한편으론 성질이 불같이 급하고 인내심이 결핍되어 시종일관이 없고 쓸데없는 일에 인생의 중요한 시간을 허비하기도 하며 끝맺음이 약하다. 마음이 악하지 못하면서도 성질이 다소 불량하고 자존심이 고고(孤高)하여 외고집쟁이라는 말을 많이 듣게 된다. 이 관상을 가진 자는 철저히 수신하여 대계(大計)를 위해 전력질주 해야한다. 가진 재능이 있으나 너무나도 현실적인 것이 문제이다. 도전하지 않고 얻어지는것은 없으니 현실과 타협할 생각부터 한다. 가끔은 멀리 내다볼줄도 알고 현실에서 조금 벗어나 마법같은 세상을 꿈꿔본다면 절대적으로 본인에게 많은 이로움을 거둘 수 있을 것이다.
                </p></strong>
            </div>
            </span>
            <span>  
            <p id="font_ment" style="color: rgba(252, 123, 150, 1); font-size: 50px; margin-left: 25%;line-height: 10px; margin-top: 18%;">상대방을 사로잡는</p>
            <p id="font_ment2" style="color: rgba(253, 89, 138, 1); font-size: 50px; margin-left: 25%;line-height: 10px; margin-top: 2%;">추천멘트</p>
            <p id="font_ment3" style="color: rgba(255, 255, 255, 0.5); font-size: 50px; margin-left: 25%;line-height: 50px; margin-top: 4%;">'괜찮아요?<br>많이 놀랐죠?'</p>
            <img src="../static/img_ment/sheep_ment.jpg" id="img_ment">
        </span>
    </body>
</body>
</html>
